In [121]:
import pandas as pd
import numpy as np

In [2]:
!gdown 1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_

Downloading...
From: https://drive.google.com/uc?id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_
To: /Users/mrunmay/Desktop/gapminder.csv
100%|██████████████████████████████████████| 83.8k/83.8k [00:00<00:00, 1.87MB/s]

In [3]:
df = pd.read_csv("/Users/mrunmay/Desktop/gapminder.csv")

In [4]:
print(df)

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df["country"]

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [7]:
df.country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [9]:
type(df["country"])

pandas.core.series.Series

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [15]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [17]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [18]:
df.head(11)

        country  year  population continent  life_exp     gdp_cap
0   Afghanistan  1952     8425333      Asia    28.801  779.445314
1   Afghanistan  1957     9240934      Asia    30.332  820.853030
2   Afghanistan  1962    10267083      Asia    31.997  853.100710
3   Afghanistan  1967    11537966      Asia    34.020  836.197138
4   Afghanistan  1972    13079460      Asia    36.088  739.981106
5   Afghanistan  1977    14880372      Asia    38.438  786.113360
6   Afghanistan  1982    12881816      Asia    39.854  978.011439
7   Afghanistan  1987    13867957      Asia    40.822  852.395945
8   Afghanistan  1992    16317921      Asia    41.674  649.341395
9   Afghanistan  1997    22227415      Asia    41.763  635.341351
10  Afghanistan  2002    25268405      Asia    42.129  726.734055

In [19]:
df.tail()

       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [21]:
df.tail(10)

       country  year  population continent  life_exp     gdp_cap
1694  Zimbabwe  1962     4277736    Africa    52.358  527.272182
1695  Zimbabwe  1967     4995432    Africa    53.995  569.795071
1696  Zimbabwe  1972     5861135    Africa    55.635  799.362176
1697  Zimbabwe  1977     6642107    Africa    57.674  685.587682
1698  Zimbabwe  1982     7636524    Africa    60.363  788.855041
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [22]:
df.shape

(1704, 6)

In [30]:
print(df.shape[0])
df.shape[1]

1704

6

In [31]:
df.describe()

             year    population     life_exp        gdp_cap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [34]:
df.describe(include=["object","int64","float64"])

,country,year,population,continent,life_exp,gdp_cap
count,1704,1704.00000,1.704000e+03,1704,1704.000000,1704.000000
unique,142,NaN,NaN,5,NaN,NaN
top,Afghanistan,NaN,NaN,Africa,NaN,NaN
freq,12,NaN,NaN,624,NaN,NaN
mean,NaN,1979.50000,2.960121e+07,NaN,59.474439,7215.327081
std,NaN,17.26533,1.061579e+08,NaN,12.917107,9857.454543
min,NaN,1952.00000,6.001100e+04,NaN,23.599000,241.165876
25%,NaN,1965.75000,2.793664e+06,NaN,48.198000,1202.060309
50%,NaN,1979.50000,7.023596e+06,NaN,60.712500,3531.846988
75%,NaN,1993.25000,1.958522e+07,NaN,70.845500,9325.462346
max,NaN,2007.00000,1.318683e+09,NaN,82.603000,113523.132900

In [35]:
df.describe(include=["object"])

            country continent
count          1704      1704
unique          142         5
top     Afghanistan    Africa
freq             12       624

In [38]:
print(df.columns)

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [40]:
print(df.keys())

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [41]:
df.country.head(10)

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
5    Afghanistan
6    Afghanistan
7    Afghanistan
8    Afghanistan
9    Afghanistan
Name: country, dtype: object

In [43]:
df["country"].head(10)

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
5    Afghanistan
6    Afghanistan
7    Afghanistan
8    Afghanistan
9    Afghanistan
Name: country, dtype: object

In [44]:
df["year"].head(10)

0    1952
1    1957
2    1962
3    1967
4    1972
5    1977
6    1982
7    1987
8    1992
9    1997
Name: year, dtype: int64

In [46]:
df.head(2)

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030

In [47]:
df[["country","year","gdp_cap"]].head(7)

       country  year     gdp_cap
0  Afghanistan  1952  779.445314
1  Afghanistan  1957  820.853030
2  Afghanistan  1962  853.100710
3  Afghanistan  1967  836.197138
4  Afghanistan  1972  739.981106
5  Afghanistan  1977  786.113360
6  Afghanistan  1982  978.011439

In [49]:
df["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [50]:
df["year"].unique()

array([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
       2007])

In [51]:
df["population"].unique()

array([ 8425333,  9240934, 10267083, ..., 11404948, 11926563, 12311143])

In [52]:
df["country"].nunique()

142

In [54]:
df["year"].nunique()

12

In [215]:
df.value_counts()#returns the freq of each unique value

country      year  population  life_exp  gdp_cap
Afghanistan  1952  1282697     55.230    1601.056136     1
Norway       1972  3933004     74.340    18965.055510    1
             1962  3638919     73.470    13450.401510    1
             1957  3491938     73.440    11653.973040    1
             1952  507833      37.578    1828.230307     1
                                                        ..
Germany      1957  71019069    69.100    10187.826650    1
             1952  5581001     43.149    911.298937      1
Gambia       2007  1688359     59.448    752.749726      1
             2002  1457766     58.041    660.585600      1
Zimbabwe     2007  12311143    43.487    469.709298      1
Length: 1703, dtype: int64

In [58]:
df["country"].value_counts()

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [59]:
df["continent"].value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

In [62]:
# normalize parameter helps in normalizing the freq count. Means sum all is 1
df["continent"].value_counts(normalize = True)

Africa      0.366197
Asia        0.232394
Europe      0.211268
Americas    0.176056
Oceania     0.014085
Name: continent, dtype: float64

In [63]:
df["country"].value_counts(normalize = True)

Afghanistan          0.007042
Pakistan             0.007042
New Zealand          0.007042
Nicaragua            0.007042
Niger                0.007042
                       ...
Eritrea              0.007042
Equatorial Guinea    0.007042
El Salvador          0.007042
Egypt                0.007042
Zimbabwe             0.007042
Name: country, Length: 142, dtype: float64

In [64]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [68]:
df.rename(columns={"country":"COUNTRY"})

          COUNTRY  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [69]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [73]:
df.rename(columns={"country":"COUNTRY"},inplace="True")

In [74]:
df

          COUNTRY  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [78]:
df.rename({"COUNTRY":"country"},axis=1)

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [79]:
df

          COUNTRY  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [80]:
df.rename({"COUNTRY":"country"},axis=1,inplace = True)

In [81]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [82]:
df.drop("continent",axis=1,inplace=True)

In [83]:
df

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [84]:
df.drop([1,3,5,3])

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
2     Afghanistan  1962    10267083    31.997  853.100710
4     Afghanistan  1972    13079460    36.088  739.981106
6     Afghanistan  1982    12881816    39.854  978.011439
7     Afghanistan  1987    13867957    40.822  852.395945
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1701 rows x 5 columns]

In [85]:
df

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [86]:
df

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [89]:
df["new"]=df["life_exp"]+df["gdp_cap"]#Smimilarly can do any operations like %,-,* etc

In [90]:
df

          country  year  population  life_exp     gdp_cap         new
0     Afghanistan  1952     8425333    28.801  779.445314  808.246315
1     Afghanistan  1957     9240934    30.332  820.853030  851.185030
2     Afghanistan  1962    10267083    31.997  853.100710  885.097710
3     Afghanistan  1967    11537966    34.020  836.197138  870.217138
4     Afghanistan  1972    13079460    36.088  739.981106  776.069106
...           ...   ...         ...       ...         ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306  768.508306
1700     Zimbabwe  1992    10704340    60.377  693.420786  753.797786
1701     Zimbabwe  1997    11404948    46.809  792.449960  839.258960
1702     Zimbabwe  2002    11926563    39.989  672.038623  712.027623
1703     Zimbabwe  2007    12311143    43.487  469.709298  513.196298

[1704 rows x 6 columns]

In [94]:
df["mrunmay"]=[i for i in range(1,1705)]

In [96]:
df["new"]=[i for i in range(0,1704)]

In [97]:
df

          country  year  population  life_exp     gdp_cap   new  mrunmay
0     Afghanistan  1952     8425333    28.801  779.445314     0        1
1     Afghanistan  1957     9240934    30.332  820.853030     1        2
2     Afghanistan  1962    10267083    31.997  853.100710     2        3
3     Afghanistan  1967    11537966    34.020  836.197138     3        4
4     Afghanistan  1972    13079460    36.088  739.981106     4        5
...           ...   ...         ...       ...         ...   ...      ...
1699     Zimbabwe  1987     9216418    62.351  706.157306  1699     1700
1700     Zimbabwe  1992    10704340    60.377  693.420786  1700     1701
1701     Zimbabwe  1997    11404948    46.809  792.449960  1701     1702
1702     Zimbabwe  2002    11926563    39.989  672.038623  1702     1703
1703     Zimbabwe  2007    12311143    43.487  469.709298  1703     1704

[1704 rows x 7 columns]

In [102]:
df.drop(columns=["new","mrunmay"],inplace=True)

In [103]:
df

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [104]:
ser = df["country"]

In [105]:
ser

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [106]:
ser[12]

'Albania'

In [109]:
ser[12:25]

12    Albania
13    Albania
14    Albania
15    Albania
16    Albania
17    Albania
18    Albania
19    Albania
20    Albania
21    Albania
22    Albania
23    Albania
24    Algeria
Name: country, dtype: object

In [110]:
ser[45:65:4]

45       Angola
49    Argentina
53    Argentina
57    Argentina
61    Australia
Name: country, dtype: object

In [111]:
ser

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [112]:
ser.index

RangeIndex(start=0, stop=1704, step=1)

In [113]:
ser.keys()

RangeIndex(start=0, stop=1704, step=1)

In [116]:
ser.index = [i for i in range(1,1705)]

In [117]:
ser

1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
           ...
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
1704       Zimbabwe
Name: country, Length: 1704, dtype: object

In [118]:
ser.index = [i for i in range(0,1704)]

In [133]:
ser

1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
           ...
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
1704       Zimbabwe
Name: country, Length: 1704, dtype: object

In [128]:
ser.index = np.arange(1,ser.shape[0]+1,step=1,dtype="int64")

In [129]:
ser

1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
           ...
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
1704       Zimbabwe
Name: country, Length: 1704, dtype: object

In [130]:
ser.shape

(1704,)

In [131]:
ser.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704],
           dtype='int64', length=1704)

In [136]:
ser.index[7]

8

In [142]:
# by default the index starts from 0
data=pd.Series(["a","b","c","d","e"],index=[1,2,3,4,5])

In [143]:
print(data)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [144]:
data2 = pd.Series(["e","c","d","a","b"],index=["a","b","c","d","e"])

In [145]:
print(data2)

a    e
b    c
c    d
d    a
e    b
dtype: object

In [146]:
data[1]

'a'

In [147]:
data[1:4]

2    b
3    c
4    d
dtype: object

In [151]:
data2[1]

'c'

In [152]:
data2[1:4]

b    c
c    d
d    a
dtype: object

In [154]:
print(data,data2,end=" ")

1    a
2    b
3    c
4    d
5    e
dtype: object a    e
b    c
c    d
d    a
e    b
dtype: object

In [156]:
#data2.loc # explicit
#data2.loc # implicit

In [157]:
data.loc[2]

'b'

In [158]:
data.iloc[2]

'c'

In [164]:
data.loc[2:4]# Note ---> Last value is included in .loc and explicit index(indexing created by us)

2    b
3    c
4    d
dtype: object

In [165]:
data.iloc[2:4]# last values is not taken , takes implicit indexes and implicit index(Inbuild indexing)

3    c
4    d
dtype: object

In [166]:
print(data2)

a    e
b    c
c    d
d    a
e    b
dtype: object

In [167]:
data2["a"]

'e'

In [168]:
data2.loc["a":"d"]

a    e
b    c
c    d
d    a
dtype: object

In [169]:
data2.iloc[1:4]

b    c
c    d
d    a
dtype: object

In [170]:
df

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [172]:
df.loc[1]

country       Afghanistan
year                 1957
population        9240934
life_exp           30.332
gdp_cap         820.85303
Name: 1, dtype: object

In [173]:
df.iloc[1]

country       Afghanistan
year                 1957
population        9240934
life_exp           30.332
gdp_cap         820.85303
Name: 1, dtype: object

In [174]:
df.loc[1:4]

       country  year  population  life_exp     gdp_cap
1  Afghanistan  1957     9240934    30.332  820.853030
2  Afghanistan  1962    10267083    31.997  853.100710
3  Afghanistan  1967    11537966    34.020  836.197138
4  Afghanistan  1972    13079460    36.088  739.981106

In [179]:
df.loc[[1,45,87],"country":"population"]

        country  year  population
1   Afghanistan  1957     9240934
45       Angola  1997     9875024
87      Bahrain  1967      202182

In [180]:
df.iloc[[1,45,87],"country":"population"]#Only takes nos as index

TypeError: cannot do positional indexing on Index with these indexers [country] of type str

In [181]:
df.iloc[1]

country       Afghanistan
year                 1957
population        9240934
life_exp           30.332
gdp_cap         820.85303
Name: 1, dtype: object

In [184]:
df.iloc[1:11]

        country  year  population  life_exp     gdp_cap
1   Afghanistan  1957     9240934    30.332  820.853030
2   Afghanistan  1962    10267083    31.997  853.100710
3   Afghanistan  1967    11537966    34.020  836.197138
4   Afghanistan  1972    13079460    36.088  739.981106
5   Afghanistan  1977    14880372    38.438  786.113360
6   Afghanistan  1982    12881816    39.854  978.011439
7   Afghanistan  1987    13867957    40.822  852.395945
8   Afghanistan  1992    16317921    41.674  649.341395
9   Afghanistan  1997    22227415    41.763  635.341351
10  Afghanistan  2002    25268405    42.129  726.734055

In [185]:
df.iloc[[1,67,988]]

         country  year  population  life_exp      gdp_cap
1    Afghanistan  1957     9240934    30.332    820.85303
67     Australia  1987    16257249    76.320  21888.88903
988       Mexico  1972    55984294    62.361   6809.40669

In [191]:
df

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [203]:
df.iloc[8:13,1:4]
# NOTE ---> For columns it is using implicit indexes ( last value is not included)

    year  population  life_exp
8   1992    16317921    41.674
9   1997    22227415    41.763
10  2002    25268405    42.129
11  2007    31889923    43.828
12  1952     1282697    55.230

In [204]:
df.iloc[[1,5,98,345],1:4]#Row and column

     year  population  life_exp
1    1957     9240934    30.332
5    1977    14880372    38.438
98   1962    56839289    41.216
345  1997     2800947    52.962

In [208]:
df.iloc[-3]

country        Zimbabwe
year               1997
population     11404948
life_exp         46.809
gdp_cap       792.44996
Name: 1701, dtype: object

In [207]:
df

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [209]:
df.loc[-1]#Not support negetive indexing for explicit. We have not declaced it.

KeyError: -1

In [210]:
data

1    a
2    b
3    c
4    d
5    e
dtype: object

In [211]:
data[3]

'c'

In [212]:
data.loc[3]

'c'

In [213]:
data.iloc[3]

'd'